.darkBg {
  background-color: var(--dark);
  color: white;
}
.headerContainer {
  margin: 0 auto;
  max-width: 1184px;
}
.header {
  margin: 0 48px;
  max-width: 700px;
  padding: 32px 0 32px;
}
.bestSeller {
  background-color: #eceb98;
  color: #3d3c0a;
  padding: 4px 8px;
  width: fit-content;
  font-size: 12px;
}
.link {
  cursor: pointer;
  border: 0;
  text-decoration: underline;
  color: var(--light-purple);
}
.addToCartBtn {
  border: 0;
  width: 100%;
  font-size: 16px;
  height: 40px;
  background-color: var(--btn-purple);
  color: white;
  margin-bottom: 8px;
}
.addToCartBtn:hover {
  background-color: var(--btn-hover-purple);
}
.buyNowBtn {
  border: 1px solid var(--dark);
  width: 100%;
  height: 40px;
  font-size: 16px;
  margin-bottom: 8px;
  background-color: white;
}
.price {
  font-size: 32px;
}
.linkBtn {
  border: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  background-color: transparent;
  color: white;
  height: 40px;
}
.purchase {
  display: none;
}
.img {
  display: none;
}
.videoInfoList {
  flex-direction: row;
  gap: 16px;
}
@media only screen and (max-width: 1180px) {
  .header {
    max-width: 600px;
  }
  .headerContainer {
    max-width: 1084px;
  }
}
@media only screen and (max-width: 1080px) {
  .header {
    margin: 0 auto;
  }
  .img {
    display: block;
  }
  .purchase {
    display: block;
  }
  .videoInfoList {
    margin: 8px 0;
    flex-direction: column;
    gap: 8px;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    margin: 0 24px;
  }
}
